@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --preto: #000000;
    --amarelo: #fdfdf1;
    --dourado: #DBB000;
    --branco: #ffffff;
    --hoverb:#333;
  }

body {
    
    margin: 0;
    padding: 0;
    background-color:var(--amarelo);
    font-family: "Roboto Condensed", sans-serif;
   
}

#navbar {
    background-color: var(--preto);
    padding:1rem;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    margin: 0 1rem;
}

#navbar ul li a {
    color: var(--branco);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

#navbar ul li a:hover {
    color: var(--dourado)
}

.logo img {
    height: 40px;
}

#cliente-registro {
    padding: 2rem;
    text-align: center;
}

#cliente-registro h2 {
    margin-bottom: 2rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--branco);
    padding: 1rem;
    box-shadow: 0 0 10px var(--preto)
}

form label {
    display: block;
    margin: 0.5rem 0 0.25rem;
}

form input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid var(--hoverb);
    border-radius: 5px;
}

form button {
    background-color: var(--hoverb);
    color: var(--branco);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

form button:hover {
    background-color: var(--preto);
    padding: 3%;
}

.pezinho{

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0em;
    background-color: var(--preto);
        text-align: center;
        flex-direction: column;
        padding: 2em;
        
} 

.lista__link a{
    text-decoration: none;
    color:var(--preto);
    margin-left: 1em;
}

.pezinho__texto{
    
    margin: 0;
    color:var(--hoverb);
    font-size:14px;
    text-align: center;
    }
    .lista__pezinho{

        list-style-type: none;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap;
        
    }

    #navbar ul li a:hover {
        color: var(--dourado);
    }

    .lista__link a{
        text-decoration: none;
        color:var(--branco);
        margin-left: 1em;
    }

    .lista__link a:hover{
        color: var(--dourado);
    }

    .carrinho{
        height: 26.5px;
        display: flex;
            }
            .carrinho:hover{
                height: 30px;
                transition: 0.15s;
            }
