/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#navbar {
    background-color: #F5F5DC;
    padding: 1rem;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    margin: 0 1rem;
}

#navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

#navbar ul li a:hover {
    background-color: #ffffff;
}

.logo img {
    height: 40px;
}

#about {
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#about h2 {
    margin-bottom: 1rem;
}

#about p {
    margin: 1rem 0;
}

.pezinho{

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10em;
    background-color: #F5F5DC;
        text-align: center;
        flex-direction: column;
        padding: 2em;
        
} 

.lista__link a{
    text-decoration: none;
    color:#000000;
    margin-left: 1em;
}

.pezinho__texto{
    
        margin: 0;
        color:#312d2dd8;
        font-size:14px;
        text-align: center;
    }
    .lista__pezinho{

        list-style-type: none;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 5em;
        padding: 0;
        
    }
