@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --preto: #000000;
    --amarelo: #fdfdf1;
    --dourado: #DBB000;
    --branco: #ffffff;
    --hoverb: #333;
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column; 
    
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

#navbar {
    background-color: var(--preto);
    padding: 1rem;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    margin: 0 1rem;
}

#navbar ul li a {
    color: var(--branco);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.logo img {
    height: 40px;
}

.btn {
    background-color: var(--preto);
    color: var(--branco);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 2em;
    font-family: "Dancing Script", cursive; 
}

.btn:hover { 
    background-color: var(--hoverb);
   
}

.produto {
    background-color: var(--branco);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px var(--preto);
    min-height: 200px; 
    box-sizing: border-box; 
}

.carrinho__pai {
    padding: 2rem;
    text-align: center;
    background-color: var(--branco);
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 0 10px var(--preto);
    flex: 1; 
}

.pezinho {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: var(--preto);
    text-align: center;
    flex-direction: column;
    padding: 2em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco);
    margin-left: 1em;
}

.pezinho__texto {
    margin: 0;
    color: var(--hoverb);
    font-size: 14px;
    text-align: center;
}

.lista__pezinho {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
    flex-wrap: wrap;
}

#navbar ul li a:hover {
    color: var(--dourado);
}

.logopag {
    height: 130px;
}

.lista__link a:hover {
    color: var(--dourado);
}
.lista__pagamento{
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
    flex-direction: column;
}

.lista__p{
color: var(--preto);
margin: 0.10em;

}

.carrinho{
    height: 26.5px;
    display: flex;
        }
        .carrinho2{

            justify-self: center;
            align-items: center;
            text-align: center;
            height: 70px;
        }

        .carrinho:hover{
            height: 30px;
            transition: 0.15s;
        }