/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdf1;
}

#navbar {
    background-color: #000000;
    padding: 1rem;

}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    margin: 0 1rem;
}

#navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}



.logo img {
    height: 40px;
}

#produtos {
    padding: 2rem;
    text-align: center;
   background-size: cover;
}

#produtos h2 {
    margin-bottom: 2rem;
}

.produto-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.produto {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 200px; 
    box-sizing: border-box; 
}

.produto img {
    max-width: 100%;
    height: 150px; 
    object-fit: cover; 
}

.produto h3 {
    margin: 1rem 0;
}

.btn {
    background-color: #000000;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #F5F5DC;
    color: #000000;
}

.pezinho{

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0em;
    background-color: #000000da;
        text-align: center;
        flex-direction: column;
        padding: 2em;
        
} 

.lista__link a{
    text-decoration: none;
    color:#ffffff;
    margin-left: 1em;

}

.pezinho__texto{
    
        margin: 0;
        color:#312d2dd8;
        font-size:14px;
        text-align: center;
    }
    .lista__pezinho{

        list-style-type: none;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 4em;
        padding: 0;
        flex-wrap: wrap;
        
    }

    #navbar ul li a:hover {
        color: #DBB000;
    }